<div cass="field">
  <label>
    <h2 class='ui centered header'>{{label}}</h2>
  </label>
  <div class="ui huge transparent input">
    {{input value=value type="text" placeholder=placeholder name="empty"}}
  </div>
</div>
<div class="ui green button submit">Submit</div>
