<div class="create-buttons ui two statistics">
  {{#link-to "create.transaction.category" class="statistic green"}}
    <div class="value">
      <i class="big dollar icon"></i>
    </div>
    <div class="label">
      Purchase
    </div>
  {{/link-to}}
  {{#link-to "create.job.category" class="statistic red"}}
    <div class="value">
      <i class="big briefcase icon"></i>
    </div>
    <div class="label">
      Chore
    </div>
  {{/link-to}}
</div>
