@import "global";
@import "mobile";
@import "mixins";
@import "main";
@import "login";
@import "getstarted";
@import "top_nav";
@import "bottom-nav";
@import "payments-bar";
@import "groups-nav";
@import "app_content";
@import "create";
@import "dashboard";
@import "feed";
@import "homes";
@import "transactions";
@import "jobs";
@import "settings";
@import "components/grid-dropdown";
@import "components/invoice-photo-tree";
@import "components/large-transparent-input";
@import "components/transaction-details";
@import "components/user-image";

.global.flash-messages {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px;
  text-align: center;
  z-index: 100;
  &.error {
    background-color: $red;
    color: #fff;
  }
  &.success {
    background-color: $green;
    color: #fff;
  }
}
