@import 'variables';
$header-height: 30px;


.overview-wrapper {
  position: relative;
  padding: 20px;
  .overview-segment-container {
    font-size: 0;
    margin: 1rem;
    .column {
      .segment {
        box-shadow: none;
        padding: 0px 10px;
        font-size: 1rem;

        .score {
          font-size: 400%;
          /* padding: 30px; */
        }

        .score-type {
          font-size: 200%;
          color: #777;
        }
      }
    }
  }
}
