@import 'variables';

.home-index-wrapper {
  margin: 20px;
  .button-bar {
    margin-bottom: 50px;
  }


  .drag-item {

    .move-column {
      color: #999;
      cursor: move;
    }

    .edit-column {
      display: none;
      color: #999;
      cursor: pointer;

      &:hover {
        color: #5BBD72;
      };

      @include transition-all()
    }

    &:hover {
      .edit-column {
        display: inline-block;
      }
    };
  }


  .default-marker-column {
    padding-top: 20px;
    padding-bottom: 20px;
    .default-marker {
      font-size: 1em;
      color: #ddd;
    }
  }

}

.new-home-wrapper {
  background: #fff;
  .submit-container {
    text-align: center;
  }

  .new-home {
    padding: 20px;

    .field.valid {
      input{
        border-color: #52A954;
        border-left: none;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        box-shadow: 0.1em 0em 0em 0em #52A954 inset;
      }
      .corner.label {
        border-color: #52A954;
      }
    }
    .why-rent {
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
    .ui.icon.input > input:focus ~ .suffix {
      opacity: 1;
    }
    .ui.input {

      .suffix {
        cursor: default;
        position: absolute;
        opacity: 0.5;
        top: 0px;
        right: 15px;
        margin: 0em;
        width: 2.6em;
        height: 100%;
        padding-top: .7em;
        text-align: center;
        border-radius: 0em 0.3125em 0.3125em 0em;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: opacity 0.3s ease-out;
        transition: opacity 0.3s ease-out;
      }
    }
  }
}
.home-select.button.container {
  padding: 20px 0px;
}

.join-home-wrapper {
  transition-property: .5s height;
  -moz-transition-property: .5s height; /* Firefox 4 */
  -webkit-transition-property:.5s height; /* Safari and Chrome */
  -o-transition-property:.5s height; /* Opera */

  .search-form-wrapper {
    padding: 10px 0px 40px 0px;
    .join-search-form {
      .field {
        &.error {
          .submit.green {
            background-color: #D95C5C;
          }
        }
      }
      .home-results {
        right: 0px;
        width: auto;
        .name {
          float: left;
          padding: 1em 0px 0px 1em;
          font-weight: bold;
           color: #777;
          text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8);
        }

        .result {
          cursor: pointer;
          overflow: hidden;
          padding: 1em 0em;

          &.results-labels {
            cursor: default;
            .title {
              font-weight: bold;
              color: #aaa;
              border-bottom: 1px solid #ddd;
            }
            .zip {
              font-weight: bold;
              color: #aaa;
              border-bottom: 1px solid #ddd;
            }
            &:hover {
              background-color: inherit;
            }
          }

          &.selected {
            background-color: #5BBD72;
            border-radius: 5px;
            .info {
              .title {
                font-weight: bold;
                color: #fff;
              }
              .zip {
                font-weight: bold;
                color: #fff;
              }
            }
          }
          .info {
            width: 100%;
            .title {
              float: left;
              margin-left: 10px;
            }
            .zip {
              float: right;
              margin-right: 10px;
            }
          }
          &:hover {
            &:not(.results-labels, .selected) {
              background-color: #3485FF;
              border-radius: 5px;
              .info {
                .title {
                  font-weight: bold;
                  color: #fff;
                }
                .zip {
                  font-weight: bold;
                  color: #fff;
                }
              }
            }

          }
        }

        .all {
          cursor: pointer;
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 0px 0px 5px 5px;
          margin-top: 10px;
          height: auto;
        }

        .no-results {
          color: #ddd;
          text-align: center;
        }
      }

    }
  }
  .field {
    &.loading {
      .submit-loading {
        display: initial;
      }
      .submit-text {
        display: none;
      }
    }
    .ui.action.input > .button > .icon.submit-loading {
      display: none;
    }

  }
}

.edit-home-wrapper {
  padding: 20px;
  .editable-section {
    color: #999;

    .title {
      float: left;

      i {
        width: 25px;
      }
    }

    .button-container {
      float: right;
      .edit-icon {
        display: block;
        opacity: .5;
        cursor: pointer;

        &:hover {
          opacity: 1;
        };

        @include transition-all()

      }
      .save-cancel {
        display: none;
      }
    }


    .content {
      color: #aaa;

      .value {
        color: #555;
      }

      .editable {
        display: none;
      }
    }

    &.editing {

      .button-container {
        .edit-icon {
          display: none;
        }
        .save-cancel {
          display: block;
        }
      }
      .content {
        .editable {
          display: block;
        }
        .details {
          display: none;
        }
      }
    }
  }
}
}}
