@import 'variables';

.home-index-wrapper {
  margin: 20px;
  .button-bar {
    margin-bottom: 50px;
  }



  .default-marker-column {
    padding-top: 20px;
    padding-bottom: 20px;
    .default-marker {
      font-size: 1em;
      color: #ddd;
    }
  }

}

.home-select.button.container {
  padding: 20px 0px;
}
