.signin-container {
  width: 100%;
  .form-container {
    width: 100%;
    display: table;
    margin: 0 auto;
    .form-wrapper {
      display: table-cell;
      vertical-align: middle;

      .cover-heading {
        user-select: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        color: #fff;
        font-family: 'Damion', cursive;
        font-size: 600%;
        text-align: center;
        text-shadow: 0 1px 3px rgba(0,0,0,.5);
      }
    }
  }

}
.signin-container {
  .ui.form {
    width: 100%;
    background-color: transparent;
    box-shadow: none;
    border: none;
    .field.valid {
      input{
        border-color: #52A954;
        border-left: none;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        -webkit-box-shadow: 0em 0em 0em 0em #52A954 inset;
        box-shadow: 0.1em 0em 0em 0em #52A954 inset;
      }
      .corner.label {
        border-color: #52A954;
      }
    }


    .inline.fields .field > :only-child, .ui.form .inline.field.signin-checkbox{
      margin-top: 20px;
    }

    .signin-link {
      color: #1AB8F3;
      text-decoration: none;

      &:visited {
        color: #1AB8F3;
        text-decoration: none;

      }

    }
    .button {
      text-align: center;
    }
  }
}
.registration-name {
  color: #fff;
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}
.registration-payment {
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  text-align: center;
  .ui.header {
    color: #fff;
  }
}
