.payments-bar.ui.sidebar {
  background: #fff;
  overflow: visible !important;
  overflow-y: visible !important;
  visibility: visible !important;
  .payments-bar-tab.ui.attached.button {
    position: absolute;
    bottom: 100px;
    right: -39px;
    background: #fff !important;
  }
  .payments-list {
    height: 100%;
    .positive.button {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 0;
      margin: 0;
    }
  }
}
