//////////////
//  resets  //
//////////////

* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font-family: "PT sans";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

a {
	text-decoration: none;

	&:active {
		text-decoration: none;
	}

	&:hover {
		text-decoration: none;
	}
}

.clearfix {
  clear: both;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar              { width: 12px; }
::-webkit-scrollbar-button       { /* 2 */ }
::-webkit-scrollbar-track        { 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}
::-webkit-scrollbar-track-piece  { 
  color: red;
}
::-webkit-scrollbar-thumb        { /* 5 */ }
::-webkit-scrollbar-corner       { /* 6 */ }
::-webkit-resizer                { /* 7 */ }