

/*******************************
             Icon
*******************************/


.ui.button > .icon {
margin-right: 0.6em;
line-height: 1;
-webkit-transition: opacity 0.1s ease;
-moz-transition: opacity 0.1s ease;
transition: opacity 0.1s ease;
}
