@import "variables";

.settings-wrapper {
  .ui.list > .item {
    display: flex;
    padding: 16px;
    font-size: 16px;
    align-items: center;
    &.form {
      flex-direction: column;
      align-items: stretch;
      padding: 0;
      .top-bar {
        padding: 16px;
        display: flex;
        align-items: center;
      }
      .ui.form {
        padding: 16px;
      }
    }
    .header {
      font-weight: 300;
    }
    &:first-child {
      border-top: 1px solid rgba(34, 36, 38, 0.15);
    }
    &:last-child {
      border-bottom: 1px solid rgba(34, 36, 38, 0.15);
    }
    .icon {
      font-size: 32px;
      vertical-align: middle;
      height: auto;
      cursor: pointer;
    }
    .content {
      vertical-align: middle;
      flex-grow: 1;
    }
  }
}
