@import 'variables';

.ui.menu.user-top-bar {
  background: #333;
  color: #fff;
  border-radius: 0;
  .content {
    .item {
      font-size: .9rem;
      line-height: 40px;
      padding-top: 0;
      padding-bottom: 0;
      &.new-entry {
        i {
          margin: 0;
        }
      }
      text-align: center;
      &.title {
        text-rendering: optimizeLegibility !important;
        -webkit-font-smoothing: antialiased !important;
        font-family: 'Damion', cursive;
        text-shadow: 0 1px 3px rgba(0,0,0,.5);
        font-size: 36px;
      }
    }

    .ui.dropdown > .default.text, .ui.default.dropdown > .text {
        // color: #fff;
    }
  }
}
