$overview-height: 350px;
$header-height: 30px;
.transactions-wrapper {
  .overview-wrapper {
    .overview-content {
      @include flex-row();
      @include justify-content(space-around);
      margin: 20px 0;
    }
  }
}
