$overview-height: 350px;
$header-height: 30px;
.transactions-wrapper {
  .overview-wrapper {
    .overview-content {
      border: 1px solid #ddd;
      border-radius: 5px;
      height: $overview-height;
      overflow-y: auto;
      position: relative;


    }
  }
}
