$APP_MAX_WIDTH: 1024px;
$USER_TOP_HEIGHT: 40px;
$DEFAULT_TRANS_SPEED: .3s;
$text-color: #333;
$text-color-subtle: #999;
$text-color-highlight: #ddd;
$text-color-selected: #000;
$text-color-info: #2185d0;
$text-color-success: green;
$text-color-warning: yellow;
$text-color-error: #db2828;
$text-color-money: #21ba45;

$image-icon-size: 24px;
@mixin transition-all($dur: $DEFAULT_TRANS_SPEED) {
  -webkit-transition: $dur;
  transition: $dur;
}

@mixin trbl0() {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin center-margin() {
  margin: 0 auto;
}
@mixin flex-row() {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
@mixin flex-column() {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
}
