<div class="home-index-wrapper">
  <div class="ui grid">
    <div class="two wide center aligned column default-marker-column">
      <span class="default-marker">
        <span>
          Default
        </span>
        <i class="right icon">
        </i>
      </span>
    </div>
    <div class="fourteen wide column">
      {{#sortable-homes}}
        {{#each sortedDefault as |item|}}
          <div class="sixteen wide column">
            <div class="item">
              <div class="homes">
                <div class="ui segment">
                  <h3>
                    {{name}}
                  </h3>
                </div>
              </div>
            </div>
          </div>
        {{/each}}
      {{/sortable-homes}}
    </div>
  </div>
</div>
