{{user-top-bar
  currentSession=currentSession
  logout='invalidateSession'}}
<div class="getstarted-container">
  <div class="content-container">
    <div class="content-wrapper">
      {{outlet}}
    </div>
  </div>
</div>
