<div class="registration-payment">
  <div class="ui header">Connect your Venmo account.</div>

  <div id="venmoLogin" class="ui button fluid twitter" {{action "connectVenmo"}}>
    Connect
  </div>
  <div class="ui fluid basic button" {{action "finish"}}>
    No, thanks.
  </div>
</div>
