* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font-family: "PT sans";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }
  a:active {
    text-decoration: none; }
  a:hover {
    text-decoration: none; }

.clearfix {
  clear: both; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

::-webkit-scrollbar {
  width: 12px; }

::-webkit-scrollbar-button {
  /* 2 */ }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px; }

::-webkit-scrollbar-track-piece {
  color: red; }

::-webkit-scrollbar-thumb {
  /* 5 */ }

::-webkit-scrollbar-corner {
  /* 6 */ }

::-webkit-resizer {
  /* 7 */ }

body {
  background-attachment: fixed;
  background: url("/assets/images/bg3.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

body::after {
  content: "";
  background: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: .2;
  /* background-attachment: fixed; */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1; }

.global-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  .global-wrapper .main-content-wrapper {
    position: absolute;
    max-width: 1024px;
    margin: 0 auto;
    top: 40px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #fff;
    overflow-y: scroll; }

* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font-family: "PT sans";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }
  a:active {
    text-decoration: none; }
  a:hover {
    text-decoration: none; }

.clearfix {
  clear: both; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

::-webkit-scrollbar {
  width: 12px; }

::-webkit-scrollbar-button {
  /* 2 */ }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px; }

::-webkit-scrollbar-track-piece {
  color: red; }

::-webkit-scrollbar-thumb {
  /* 5 */ }

::-webkit-scrollbar-corner {
  /* 6 */ }

::-webkit-resizer {
  /* 7 */ }

body {
  background-attachment: fixed;
  background: url("/assets/images/bg3.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

body::after {
  content: "";
  background: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: .2;
  /* background-attachment: fixed; */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1; }

.global-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  .global-wrapper .main-content-wrapper {
    position: absolute;
    max-width: 1024px;
    margin: 0 auto;
    top: 40px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #fff;
    overflow-y: scroll; }

.signin-container, .register-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0; }
  .signin-container.login, .register-container.login {
    top: -100%;
    transition: top 1.2s; }
  .signin-container.login.visible, .register-container.login.visible {
    top: 0px; }
  .signin-container .form-container, .register-container .form-container {
    display: table;
    width: 600px;
    height: 100%;
    margin: 0 auto; }
    .signin-container .form-container .form-wrapper, .register-container .form-container .form-wrapper {
      width: 600px;
      display: table-cell;
      vertical-align: middle; }
      .signin-container .form-container .form-wrapper .cover-heading, .register-container .form-container .form-wrapper .cover-heading {
        user-select: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        color: #fff;
        font-family: 'Damion', cursive;
        font-size: 145px;
        text-align: center;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); }

.signin-container .ui.form .field.valid input {
  border-color: #52A954;
  border-left: none;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-box-shadow: 0em 0em 0em 0em #52A954 inset;
  box-shadow: 0.1em 0em 0em 0em #52A954 inset; }

.signin-container .ui.form .field.valid .corner.label {
  border-color: #52A954; }

.signin-container .ui.form .inline.fields .field > :only-child, .signin-container .ui.form .ui.form .inline.field.signin-checkbox {
  margin-top: 20px; }

.signin-container .ui.form .signin-link {
  color: #1AB8F3;
  text-decoration: none; }
  .signin-container .ui.form .signin-link:visited {
    color: #1AB8F3;
    text-decoration: none; }

.signin-container .ui.form .facebook-signin-container {
  text-align: center; }

.getstarted-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0; }
  .getstarted-container .content-container {
    display: table;
    width: 600px;
    height: 100%;
    margin: 0 auto; }
    .getstarted-container .content-container .content-wrapper {
      width: 600px;
      display: table-cell;
      vertical-align: middle; }
      .getstarted-container .content-container .content-wrapper .home-links-wrapper {
        text-align: center; }

.user-top-bar {
  background-color: #333;
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5); }
  .user-top-bar .content {
    background-color: #333;
    color: #fff;
    max-width: 1024px;
    margin: 0 auto; }
    .user-top-bar .content .item {
      font-size: .9rem; }
      .user-top-bar .content .item.title {
        text-rendering: optimizeLegibility !important;
        -webkit-font-smoothing: antialiased !important;
        font-family: 'Damion', cursive;
        padding-top: 2px;
        padding-left: 5px;
        padding-bottom: 2px;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
        font-size: 36px; }

.control-panel-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: #fff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-right: 1px solid #ddd; }
  .control-panel-wrapper .ui.labeled.icon.menu.control-panel > .item > .icon {
    font-size: 2.5em !important; }
  .control-panel-wrapper .ui.labeled.icon.menu.control-panel > .item > .icon.multi.building.middle {
    position: absolute;
    z-index: 3;
    left: 26px; }
    .control-panel-wrapper .ui.labeled.icon.menu.control-panel > .item > .icon.multi.building.middle:before {
      background: #fff; }
  .control-panel-wrapper .ui.labeled.icon.menu.control-panel > .item > .icon.multi.building.left {
    position: absolute;
    font-size: 2em !important;
    left: 12px;
    bottom: 31px; }
  .control-panel-wrapper .ui.labeled.icon.menu.control-panel > .item > .icon.multi.building.right {
    position: absolute;
    font-size: 2em !important;
    right: 12px;
    bottom: 31px; }
  .control-panel-wrapper .ui.vertical.menu.control-panel > .item:first-child {
    border-radius: 0px; }
  .control-panel-wrapper .ui.vertical.menu.control-panel > .item:last-child {
    border-radius: 0px; }
  .control-panel-wrapper .control-panel {
    width: inherit; }
    .control-panel-wrapper .control-panel .item i.building.placehold {
      visibility: hidden; }

.app-content-wrapper {
  background: #fff;
  position: relative;
  right: 0px;
  margin-left: 103px;
  padding: 20px;
  min-height: 100%; }

.dashboard-wrapper .overview-wrapper .overview-content {
  border: 1px solid #ddd;
  border-radius: 5px;
  height: 350px;
  overflow-y: auto;
  position: relative;
  padding: 40px; }
  .dashboard-wrapper .overview-wrapper .overview-content .ui.corner.label.add-job, .dashboard-wrapper .overview-wrapper .overview-content .ui.corner.label.add-tansaction {
    cursor: pointer; }
  .dashboard-wrapper .overview-wrapper .overview-content .ui.corner.label:after {
    transition: 0.5s border-width; }
  .dashboard-wrapper .overview-wrapper .overview-content .ui.corner.label:hover.add-job:after {
    border-right: 3.3em solid transparent;
    border-right-color: inherit;
    border-bottom: 3.3em solid transparent; }
  .dashboard-wrapper .overview-wrapper .overview-content .ui.corner.label:hover.add-transaction:after {
    border-top: 3.3em solid transparent;
    border-right: 3.3em solid transparent;
    border-top-color: inherit; }
  .dashboard-wrapper .overview-wrapper .overview-content .ui.corner.label.add-transaction {
    bottom: initial;
    cursor: pointer;
    bottom: initial;
    left: 0px;
    top: 0px;
    right: initial; }
  .dashboard-wrapper .overview-wrapper .overview-content .overview-segment-container {
    font-size: 0; }
    .dashboard-wrapper .overview-wrapper .overview-content .overview-segment-container .score-segment {
      width: 33%;
      padding: 0px 10px;
      display: inline-block;
      font-size: 1rem; }
      .dashboard-wrapper .overview-wrapper .overview-content .overview-segment-container .score-segment .score {
        font-size: 5em;
        padding: 30px; }
      .dashboard-wrapper .overview-wrapper .overview-content .overview-segment-container .score-segment .score-type {
        font-size: 2em;
        color: #777; }
  .dashboard-wrapper .overview-wrapper .overview-content .new-quick-add-form {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
    .dashboard-wrapper .overview-wrapper .overview-content .new-quick-add-form .ui.dropdown .menu .item {
      padding: 0.45em 1em !important; }
    .dashboard-wrapper .overview-wrapper .overview-content .new-quick-add-form .form-header {
      height: 30px;
      padding: 5px;
      color: #fff;
      font-weight: bold;
      position: absolute;
      left: 0;
      right: 0; }
      .dashboard-wrapper .overview-wrapper .overview-content .new-quick-add-form .form-header.transaction {
        background: #A1CF64; }
      .dashboard-wrapper .overview-wrapper .overview-content .new-quick-add-form .form-header.job {
        background: #D95C5C; }
    .dashboard-wrapper .overview-wrapper .overview-content .new-quick-add-form .close-quick-add {
      position: absolute;
      right: 0;
      top: 3px;
      color: #fff; }
    .dashboard-wrapper .overview-wrapper .overview-content .new-quick-add-form .form-wrapper {
      position: absolute;
      top: 30px;
      padding: 10px;
      top: 30px;
      left: 0px;
      bottom: 0px;
      right: 0px; }
    .dashboard-wrapper .overview-wrapper .overview-content .new-quick-add-form .cost-checkboxes {
      margin-top: 30px; }

.feed-wrapper {
  padding: 20px 0 0 0; }
  .feed-wrapper .section-header {
    font-size: 20px; }
  .feed-wrapper .ui.feed .event {
    position: relative;
    padding: 5px; }
    .feed-wrapper .ui.feed .event .label.image {
      vertical-align: middle; }
    .feed-wrapper .ui.feed .event .ui.left.corner.label {
      left: -14px;
      top: 0px; }
      .feed-wrapper .ui.feed .event .ui.left.corner.label .icon {
        margin: -6px 0 0 9px;
        color: #fff; }

.home-index-wrapper {
  margin: 20px; }
  .home-index-wrapper .button-bar {
    margin-bottom: 50px; }
  .home-index-wrapper .drag-item .move-column {
    color: #999;
    cursor: move; }
  .home-index-wrapper .drag-item .edit-column {
    display: none;
    color: #999;
    cursor: pointer;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .home-index-wrapper .drag-item .edit-column:hover {
      color: #5BBD72; }
  .home-index-wrapper .drag-item:hover .edit-column {
    display: inline-block; }
  .home-index-wrapper .default-marker-column {
    padding-top: 20px;
    padding-bottom: 20px; }
    .home-index-wrapper .default-marker-column .default-marker {
      font-size: 1em;
      color: #ddd; }

.new-home-wrapper .submit-container {
  text-align: center; }

.new-home-wrapper .new-home {
  padding: 20px; }
  .new-home-wrapper .new-home .field.valid input {
    border-color: #52A954;
    border-left: none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-box-shadow: 0em 0em 0em 0em #52A954 inset;
    box-shadow: 0.1em 0em 0em 0em #52A954 inset; }
  .new-home-wrapper .new-home .field.valid .corner.label {
    border-color: #52A954; }
  .new-home-wrapper .new-home .why-rent {
    cursor: pointer; }
    .new-home-wrapper .new-home .why-rent:hover {
      opacity: 1; }
  .new-home-wrapper .new-home .ui.icon.input > input:focus ~ .suffix {
    opacity: 1; }
  .new-home-wrapper .new-home .ui.input .suffix {
    cursor: default;
    position: absolute;
    opacity: 0.5;
    top: 0px;
    right: 15px;
    margin: 0em;
    width: 2.6em;
    height: 100%;
    padding-top: .7em;
    text-align: center;
    border-radius: 0em 0.3125em 0.3125em 0em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out; }

.home-select.button.container {
  padding: 20px 0px; }

.join-home-wrapper {
  transition-property: 0.5s height;
  -moz-transition-property: 0.5s height;
  /* Firefox 4 */
  -webkit-transition-property: 0.5s height;
  /* Safari and Chrome */
  -o-transition-property: 0.5s height;
  /* Opera */ }
  .join-home-wrapper .search-form-wrapper {
    padding: 10px 0px 40px 0px; }
    .join-home-wrapper .search-form-wrapper .join-search-form .field.error .submit.green {
      background-color: #D95C5C; }
    .join-home-wrapper .search-form-wrapper .join-search-form .home-results {
      right: 0px;
      width: auto; }
      .join-home-wrapper .search-form-wrapper .join-search-form .home-results .name {
        float: left;
        padding: 1em 0px 0px 1em;
        font-weight: bold;
        color: #777;
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8); }
      .join-home-wrapper .search-form-wrapper .join-search-form .home-results .result {
        cursor: pointer;
        overflow: hidden;
        padding: 1em 0em; }
        .join-home-wrapper .search-form-wrapper .join-search-form .home-results .result.results-labels {
          cursor: default; }
          .join-home-wrapper .search-form-wrapper .join-search-form .home-results .result.results-labels .title {
            font-weight: bold;
            color: #aaa;
            border-bottom: 1px solid #ddd; }
          .join-home-wrapper .search-form-wrapper .join-search-form .home-results .result.results-labels .zip {
            font-weight: bold;
            color: #aaa;
            border-bottom: 1px solid #ddd; }
          .join-home-wrapper .search-form-wrapper .join-search-form .home-results .result.results-labels:hover {
            background-color: inherit; }
        .join-home-wrapper .search-form-wrapper .join-search-form .home-results .result.selected {
          background-color: #5BBD72;
          border-radius: 5px; }
          .join-home-wrapper .search-form-wrapper .join-search-form .home-results .result.selected .info .title {
            font-weight: bold;
            color: #fff; }
          .join-home-wrapper .search-form-wrapper .join-search-form .home-results .result.selected .info .zip {
            font-weight: bold;
            color: #fff; }
        .join-home-wrapper .search-form-wrapper .join-search-form .home-results .result .info {
          width: 100%; }
          .join-home-wrapper .search-form-wrapper .join-search-form .home-results .result .info .title {
            float: left;
            margin-left: 10px; }
          .join-home-wrapper .search-form-wrapper .join-search-form .home-results .result .info .zip {
            float: right;
            margin-right: 10px; }
        .join-home-wrapper .search-form-wrapper .join-search-form .home-results .result:hover:not(        .results-labels, .selected) {
          background-color: #3485FF;
          border-radius: 5px; }
          .join-home-wrapper .search-form-wrapper .join-search-form .home-results .result:hover:not(          .results-labels, .selected) .info .title {
            font-weight: bold;
            color: #fff; }
          .join-home-wrapper .search-form-wrapper .join-search-form .home-results .result:hover:not(          .results-labels, .selected) .info .zip {
            font-weight: bold;
            color: #fff; }
      .join-home-wrapper .search-form-wrapper .join-search-form .home-results .all {
        cursor: pointer;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 0px 0px 5px 5px;
        margin-top: 10px;
        height: auto; }
      .join-home-wrapper .search-form-wrapper .join-search-form .home-results .no-results {
        color: #ddd;
        text-align: center; }
  .join-home-wrapper .field.loading .submit-loading {
    display: initial; }
  .join-home-wrapper .field.loading .submit-text {
    display: none; }
  .join-home-wrapper .field .ui.action.input > .button > .icon.submit-loading {
    display: none; }

.edit-home-wrapper {
  padding: 20px; }
  .edit-home-wrapper .editable-section {
    color: #999; }
    .edit-home-wrapper .editable-section .title {
      float: left; }
      .edit-home-wrapper .editable-section .title i {
        width: 25px; }
    .edit-home-wrapper .editable-section .button-container {
      float: right; }
      .edit-home-wrapper .editable-section .button-container .edit-icon {
        display: block;
        opacity: .5;
        cursor: pointer;
        -o-transition: 0.3s;
        -ms-transition: 0.3s;
        -moz-transition: 0.3s;
        -webkit-transition: 0.3s;
        transition: 0.3s; }
        .edit-home-wrapper .editable-section .button-container .edit-icon:hover {
          opacity: 1; }
      .edit-home-wrapper .editable-section .button-container .save-cancel {
        display: none; }
    .edit-home-wrapper .editable-section .content {
      color: #aaa; }
      .edit-home-wrapper .editable-section .content .value {
        color: #555; }
      .edit-home-wrapper .editable-section .content .editable {
        display: none; }
    .edit-home-wrapper .editable-section.editing .button-container .edit-icon {
      display: none; }
    .edit-home-wrapper .editable-section.editing .button-container .save-cancel {
      display: block; }
    .edit-home-wrapper .editable-section.editing .content .editable {
      display: block; }
    .edit-home-wrapper .editable-section.editing .content .details {
      display: none; }

.transactions-wrapper .overview-wrapper .overview-content {
  border: 1px solid #ddd;
  border-radius: 5px;
  height: 350px;
  overflow-y: auto;
  position: relative; }

.jobs-wrapper .overview-wrapper .overview-content {
  border: 1px solid #ddd;
  border-radius: 5px;
  height: 350px;
  overflow-y: auto;
  position: relative; }

.jobs-wrapper .feed-wrapper {
  padding: 20px 0 0 0; }
  .jobs-wrapper .feed-wrapper .section-header {
    font-size: 20px; }
  .jobs-wrapper .feed-wrapper .ui.feed {
    padding-top: 0px; }
    .jobs-wrapper .feed-wrapper .ui.feed .event {
      position: relative; }
      .jobs-wrapper .feed-wrapper .ui.feed .event .ui.left.corner.label {
        left: -14px;
        top: 0px; }
        .jobs-wrapper .feed-wrapper .ui.feed .event .ui.left.corner.label .icon {
          margin: 0em 0em 0em -0.2em; }

#settings_wrap .column label {
  width: 140px;
  text-align: right; }

#settings_wrap .column span {
  margin-left: 20px; }

#settings_wrap .column table {
  height: 100px; }

#settings_wrap input {
  width: 90%;
  float: left; }

#settings_wrap .privacy_wrap .ui.form .field {
  margin-bottom: 0px; }

#settings_wrap .pj-left-label label {
  float: left;
  margin: 0 5px 0; }

#settings_wrap .label_wrap {
  width: 140px;
  float: left;
  text-align: right; }

#settings_wrap .password_edit_wrapper label {
  width: 140px;
  text-align: right; }

#settings_wrap .settings_button_wrap a {
  width: 275px; }

#settings_wrap .settings_button_wrap .tooltip {
  display: inline;
  position: relative; }

#settings_wrap .settings_button_wrap .tooltip:hover:after {
  background: #333;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  bottom: 26px;
  color: #fff;
  content: attr(title);
  left: 20%;
  padding: 5px 15px;
  position: absolute;
  z-index: 98;
  width: 220px; }

#settings_wrap .settings_button_wrap .tooltip:hover:before {
  border: solid;
  border-color: #333 transparent;
  border-width: 6px 6px 0 6px;
  bottom: 20px;
  content: "";
  left: 50%;
  position: absolute;
  z-index: 99; }

#settings_wrap .edit_settings_wrapper {
  padding: 20px; }
  #settings_wrap .edit_settings_wrapper .editable-section {
    color: #999; }
    #settings_wrap .edit_settings_wrapper .editable-section .title {
      float: left; }
      #settings_wrap .edit_settings_wrapper .editable-section .title i {
        width: 25px; }
    #settings_wrap .edit_settings_wrapper .editable-section .button-container {
      float: right; }
      #settings_wrap .edit_settings_wrapper .editable-section .button-container .edit-icon {
        display: block;
        opacity: .5;
        cursor: pointer; }
        #settings_wrap .edit_settings_wrapper .editable-section .button-container .edit-icon:hover {
          opacity: 1; }
      #settings_wrap .edit_settings_wrapper .editable-section .button-container .save-cancel {
        display: none; }
    #settings_wrap .edit_settings_wrapper .editable-section .content {
      color: #aaa;
      -o-transition: 0.3s;
      -ms-transition: 0.3s;
      -moz-transition: 0.3s;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
      #settings_wrap .edit_settings_wrapper .editable-section .content .value {
        color: #555; }
      #settings_wrap .edit_settings_wrapper .editable-section .content .editable {
        display: none; }
    #settings_wrap .edit_settings_wrapper .editable-section.editing .button-container .edit-icon {
      display: none; }
    #settings_wrap .edit_settings_wrapper .editable-section.editing .button-container .save-cancel {
      display: block; }
    #settings_wrap .edit_settings_wrapper .editable-section.editing .content .editable {
      display: block; }
    #settings_wrap .edit_settings_wrapper .editable-section.editing .content .details {
      display: none; }

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none; }
  * input, * textarea {
    -webkit-touch-callout: auto;
    -webkit-user-select: auto; }

/*# sourceMappingURL=web.css.map */