<div class="column">
  <div class="ui segment center aligned">
    <div class="ui score dividing header blue">
      {{session.userInfo.score}}
    </div>
    <div class="score-type">
      Score
    </div>
  </div>
</div>
<div class="column">
  <div class="ui segment center aligned">
    <div class="ui score dividing header green">
      {{session.userInfo.balance}}
    </div>
    <div class="score-type">
      Balance
    </div>
  </div>
</div>
<div class="column">
  <div class="ui segment center aligned">
    <div class="ui score dividing header red">
      {{session.userInfo.choresToDo}}
    </div>
    <div class="score-type">
      To-Do
    </div>
  </div>
</div>