<div class="submit">
  <div class="ui form">
    <div class="cost">
      <div class="ui huge transparent input">
        {{input value=model.transaction.cost type="text" placeholder="How much did it cost you?" name="cost"}}
      </div>
    </div>
    <div class="description">
      <div class="field">
        <label>Description:</label>
        {{textarea value=model.transaction.description}}
      </div>
    </div>
    <div class="split">
      {{checkbox-toggle toggle='toggleSplit' disabled=false label="Split"}}
    </div>
    <div class="large ui button green fluid" {{action "complete"}}>Submit</div>
  </div>
</div>
