<div class="submit">
  <div class="ui form">
    <div class="description">
      <div class="field">
        <label>Description:</label>
        {{textarea class="description" value=model.job.description placeholder="(Optional)"}}
      </div>
    </div>
    <div class="large ui button green fluid" {{action "complete"}}>Submit</div>
  </div>
</div>
