<div class="home-links-wrapper">
  <h2>
    Setup your home
  </h2>
  <div class="home-select button container">
    {{#link-to "getstarted.new"}}
      <div class="fluid ui button">
        New Home
      </div>
    {{/link-to}}
  </div>
  <div class="home-select button container">
    {{#link-to "getstarted.join"}}
      <div class="fluid ui button">
        Join a Home
      </div>
    {{/link-to}}
  </div>
</div>