<div class="home-links-wrapper">
    {{#link-to "getstarted.new" class="ui fluid green submit button"}}
      New Home
    {{/link-to}}
  {{#link-to "getstarted.join"}}
    <div class="ui fluid blue submit button">
      Join a Home
    </div>
  {{/link-to}}
</div>
