<div class="ui small two statistics">
  <div class="green statistic">
    <div class="value">
      {{format-money (get currentSession balanceKey)}}
    </div>
    <div class="label">
      Balance
    </div>
  </div>
  <div class="red statistic">
    <div class="value">
      {{log toDoKey}}
      {{get currentSession toDoKey}}
    </div>
    <div class="label">
      To-do
    </div>
  </div>
</div>
