<div class="ui mini statistics">
  {{#each model.members as |member|}}
    <div class="statistic {{if (gte member.info.balance 0) 'green' 'red'}}">
      <div class="value">
        {{user-image user=member.user bare=true}}
        {{format-money member.info.balance}}
      </div>
      <div class="label">
        {{member.user.firstName}}
      </div>
    </div>
  {{/each}}
</div>
