{{settld-sortable-items
  itemCollection=list
  animation=100
  handle=".item-handle"
  filter=".item--pinned"
  draggable=".item"
  ghostClass="item--ghost"
  onItemMoveAction="itemMoved"
  templateName="sortable-home"
  noItemText="<div style='text-align:center'>No items found</div>"
}}
