<div class="dashboard-wrapper main-wrapper">
  <div class="overview-wrapper">
    {{outlet}}
  </div>
  {{feeds/abstract-feed model=model feedList=model.feedList openActionBar='openActionBar' }}
</div>
