<div class="control-panel ui bottom fixed fluid four item secondary pointing menu">
  {{#link-to "dashboard" class="item black"}}
    <div><i class="big home icon"></i></div>
    <div class="nav-label">Home</div>
  {{/link-to}}
  {{#link-to "transactions" class="item green"}}
    <div><i class="big dollar icon"></i></div>
    <div class="nav-label">Purchases</div>
  {{/link-to}}
  {{#link-to "jobs" class="item red"}}
    <div><i class="big briefcase icon"></i></div>
    <div class="nav-label">Chores</div>
  {{/link-to}}
  {{#link-to "settings" class="item purple"}}
    <div><i class="big settings icon"></i></div>
    <div class="nav-label">Settings</div>
  {{/link-to}}
</div>
