<div class="control-panel ui secondary pointing labeled fluid five item icon menu">
  {{#link-to "dashboard" class="item black"}}
    <i class="big home icon">
    </i>
    <span>
      Home
    </span>
  {{/link-to}}
  {{#link-to "homes" class="item blue"}}
    <i class="big building icon">
    </i>
    <span>
      My Homes
    </span>
  {{/link-to}}
  {{#link-to "transactions" class="item green"}}
    <i class="big dollar icon">
    </i>
    <span>
      Purchases
    </span>
  {{/link-to}}
  {{#link-to "jobs" class="item red"}}
    <i class="big briefcase icon">
    </i>
    <span>
      Chores
    </span>
  {{/link-to}}
  {{#link-to "settings" class="item purple"}}
    <i class="big user icon">
    </i>
    <span>
      Profile
    </span>
  {{/link-to}}
</div>