<div class="feed-wrapper">
  <div class="ui grid filters">
    <div class="row">
      <div class="eight wide column">
        <div class="ui mini icon input">
          <input type="text" placeholder="Search mini" />
          <i class="search icon">
          </i>
        </div>
      </div>
      <div class="four wide column">
      </div>
      <div class="four wide column">
        <div class="ui icon buttons small right floated">
          {{#each child in view.audienceButtonViews.childViews}}
            {{#view child}}
              <i {{bind-attr class="child.iconClass"}}>
              </i>
            {{/view}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  {{#if hasStream}}
    <div class="ui feed">
      {{#each item in stream}}
        {{feed-item item=item openInvoiceAction="openInvoiceAction" user=session.authUser}}
      {{/each}}
    </div>
  {{else}}
    <div class="row">
      <div class="event center aligned column">
        Your feed is empty!  Add a transaction or a job to see items here :)
      </div>
    </div>
  {{/if}}
</div>