<div class="transactions-wrapper main-wrapper">
  <div class="overview-wrapper">
    <div class="overview-content">
      {{outlet}}
    </div>
  </div>
  {{feeds/abstract-feed stream=model.transactions }}
</div>
